@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}
.container-hasil{
    height: 5rem;
}
h1{
    float: right;
}
body{
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #5C8374;
}
.container{
    background-color: #183D3D;
    width: 18rem;
    padding: 5px;
    margin: 10rem auto;
}
button{
    padding: 20px;
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    cursor: pointer;
}
table{
    font-size: 25px;
    width: 100%;
}
th{
    margin: 10px;
    border-style: solid;
    border-color: #040D12;
}