/* --------------------------{Universal CSS}------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: box-sizing;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    outline: solid 2px green;
}
body {
    background-color: #262e3e;
    background-size: 100%;
    text-decoration: none;
    word-spacing: 5px;
}
/*------------------------------{NAVBAR}----------------------------- */
header nav {
    width: 100%;
    position: fixed;
    z-index: 1;
}
.header-logo{
    text-decoration: none;
}
nav{
    background-color: #4942E4;
    transition: 0.2s ease-in-out;
    height: 80px;
}
.nav-img{
    width: 90px;
    height: 90px;
}
label.logo{
    font-size: 23px;
    position: relative;
    color: #C4B0FF;
    bottom: 40px;
}
nav ul li{
    position: relative; 
    float: right;
    line-height: 80px;
    margin-right: 40px;
    bottom: 6rem;
    list-style-type: none;
}
nav ul li a{
    color: #C4B0FF;
    text-decoration: none;
}
.active{
    width: 75px;
    height: 60px;
    color: #FB2576;
    transition: 0.5s;
    box-shadow: 0 4px 0 #ba7cec;
}
.link:hover{
    width: 75px;
    height: 60px;
    color: #9288F8;
    transition: 0.5s;
    box-shadow: 0px 4px 0px  #2A2F4F;
    padding: 10px;
}
.blurnav{
    border: none;
    background-color: #4a42e485;
    backdrop-filter: blur(10px);
    transition: 0.2s ease-in-out;
}
@media only screen and (max-width:952px) {
    label.logo{
        font-size: 20px;
    }
    ul li a{
        position: relative;
        width: 500px;
    }
}
@media only screen and (max-width:768px) {
    nav{
        width: 90%;
    }
    nav-image{
        width: 70px;
        height: 70px;
    }
    label.logo{
        font-size: 18px;
        bottom: 42px;
    }
}
/*-----------------------------{END of NAVBAR}------------------------*/
/* ------------------------------{Main_Page}-------------------------- */
/*{Introduction}*/
.introduction_info{
    background-color: #4D3C77;
    color: #E19898;
    height: 31rem;
    border-bottom: #917FB3;
    margin-bottom: 5rem;
}
.introduction_text{
    font-size: 20px;
    margin-left: 50px;
    padding: 200px 50px;
}
.header_introduction_text{
    font-size: 35px;
}
.introduction_text_paragraph{
    font-size: 15px;
    padding: 25px;
}
/*--------------------------{END of Introduction}---------------------- */
/*--------------------------------{Welcome}---------------------------- */
.main{
    width: 100%;
}
.welcome{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 40rem;
    top: 6rem;
    text-align: center;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 0;
}
.main_opening {
    display: flex;
    position: relative;
    color: aliceblue;
    font-size: 23px;
    align-items: center;
    justify-content: center;
}
.main_opening  h1{
    justify-self: center;
    text-align: center;
    position: relative;
}
.main_opening h1::after{
    content: "";
    position: absolute;
    left: 0;
    background-color: #262e3e;
    width: 100%;
    height: 45px;
    border-left: 2px solid #D5FFE4;
    animation: typing 3s steps(27) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.arrow{
    fill: aliceblue;
    animation: float infinite 2s;
}
.symbol{
    justify-content: center;
    text-decoration: none;
    position: relative;
    top: 15rem;
    margin-right: 25px;
    /* right: 7em; */
}

@keyframes float{
    25%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media only screen and (max-width:1920) {
    .main{
        width: 150%;
    }
    .welcome{
        width: 150vh;
    }
}

@media only screen and (max-width:768px) {
    center{
        margin-right: -30px;
    }
    .main_opening{
        position: relative;
        right: 50px;
        font-size: 20px;
        width: 40em;
        margin-left: -80px;
    }
    .symbol{
        position: relative;
    }
}
/*---------------------------{END of Welcome}----------------------- */
/*--------------------------------{About}---------------------------- */
.info{
    background-color: #3B3486;
    color: #FCFDF2;
    height: fit-content;
    width: 100%;
    padding: 25px 0;
}
.box-about{
    cursor: none;
    pointer-events: none;
    text-align: center;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.about-header{
    position: relative;
    margin-bottom: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.about-header::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    top: 1rem;
    left: 0;
    background-color: #FCFDF2;
}
.about-header::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    top: 1rem;
    background-color: #FCFDF2;
    right: 0;
} 
.introduction_img{
    float: right;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.about{
    margin: 50px;
    display: flex;
    background-color: rgba(70, 70, 70, 0.435);
    padding: 25px;
    border-radius: 10px;
}
.about-text{
    width: 60%;
    font-size: 25px;
}
.about-text p{
    margin-top: 25px;
    font-size: 20px;
}
.exprience-header{
    position: relative;
    margin-top: 45px;
}
.exprience-header::after{
    content: "";
    width: 90px;
    height: 2px;
    color: white;
    position: absolute;
}
.codeexprience{
    padding: 25px;
    width: 50%;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.exprience-icon{
    align-content: center;
    width: 25px;
    fill: white;
}
.code{
    width: fit-content;
}
/*----------------------------{End of About}-------------------------- */
/* ---------------------------{Project_Page}-------------------------- */
/* -------------------------{End of Project_Page}---------------------- */
/* ----------------------------{Contact_Page}-------------------------- */
/*-------------------------------{END of Contact_Page}------------------------- */
/*-----------------------------------{RESPONSIVE}------------------------------ */
.checkbtn{
    font-size: 25px;
    color: #917FB3;
    float: right;
    line-height: 80px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*-------------------------------{End of Responsive}---------------------------- */